body {
    background-image: linear-gradient(90deg, rgb(160, 222, 219),rgb(3, 165, 209)); 
    background-repeat: repeat-y
}
.barra{
    background-color: #4A64FF;
    font-size: 20px;
    font-weight: 500;
}
.contenedor-barra a:hover {
    background: rgba(0, 0, 0, 0.219);
    color: #3a7999;
    box-shadow: inset 0 0 0  #3a7999;
    padding: 10px 0px;
  }
.logo{
    height: 50px;
 }
.linkhome{
    font-family: 'Audiowide', cursive;
}
.login  {
    margin-left: 33%;
}
 @media (max-width: 562px)
        {
            .login{
               margin-left: 0;
               width: 98%;
                    }       
        } 
.contenedor-sign{
    text-align: center;
}        
.sign{
    width: 200px;
    }
.redes{
    font-size: 40px;
    text-decoration: none;
    }
@media (max-width:838px)
{
    .footer{
        flex-direction: column;
            }
    .datosempresa{
        display:flex;
        flex-direction: column;
        text-align: center; }
}
.footer{
    width: 100%;
    position: absolute;
    left: 0;
    bottom:0
}
